body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  width: 85%;
  margin: 0 auto;
}

.header {
  display: flex;
  border-bottom: 2px solid black;
  margin-bottom: 25px;
}

.header .logo {
  min-height: 8em;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header .logo h2 {
  display: block;
  width: 6em;
  font-family: 'Courier New', Courier, monospace;
}

.header .nav {
  flex: 1 1 auto;
  display: flex;
}

.header .nav ul {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.header .nav ul li {
  list-style-type: none;
  margin-right: 1em;
}

.header .nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  padding: 1em;
  border-radius: 13px 13px 1px 1px;
  min-width: 7em;
  display: block;
  text-align: center;
}

.header .nav ul li a:hover {
  text-decoration: underline;
}

.active {
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}

.content {
  min-height: 460px;
}

.footer {
  text-align: center;
  font-size: 14px;
  margin-top: 35px;
  padding-top: 35px;
  border-top: 3px solid black;
  color: #444;
}

